<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Form</title>
 </head>
 <body>
      <!-- <input type="text" name="string"> -->
      <form method="POST" action="/puppyform">
        <p> Name: <input type ="text" name = "name"></input> </p>
        <p> Age: <input type ="text" name = "age"> </input></p>
        <p> Breed: <input type ="text" name = "breed"> </input></p>
      <p> <input type="submit" value="Submit"></input> </p>
    </form>
 </body>
</html>
